manifest {
    /* Homepage of project */
    homePage = 'https://github.com/lakinsm/slss-viral-direct'

    /* Description of project */
    description = 'USDA APHIS SLSS Viral Direct Rapid Characterization for Long-Read Data.'

    /* Main pipeline script */
    mainScript = 'viral-direct.nf'
}

singularity {
    /* Enables Singularity container execution by default */
    enabled = false

    /* Enable auto-mounting of host paths (requires user bind control feature enabled) */
    autoMounts = true
}

params {
    /* These are the default parameter values for the nextflow pipeline */

    /* Flag: Run time series coverage curve analysis */
    barcodes = false

    /* Flag: Run final analysis
    final = false

    /* Number of threads */
    threads = 1

    /* Number of forks (should match maxForks in process section)*/
    forks = 16

    /* Display help message */
    help = false
}

process {
	/* If modifying maxForks, change the global Python variable NEXTFLOW_MAX_FORKS in asffast.py to the same value */

	withName: BwaAlignNoBarcodes {
		maxForks = 16
	}

	withName: BwaAlignWithBarcodes {
		maxForks = 16
	}

	withName: CoverageAnalysisIntermediate {
		maxForks = 1
	}
}
